<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>{% if page.title %}{{page.title}}{% endif %}</title>
    <meta name="keywords" content="{% if page.meta_keywords %}{{ page.meta_keywords }}{% endif %}"/>
    <meta name="description" content="{% if page.meta_description %}{{ page.meta_description }}{% endif %}"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/css/boilerplate/screen.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/css/page.css" type="text/css"/>
</head>
<body>
<div id="container">
    <h1 id="header"><a href="http://weight-loss.org.ua/">Похудение за короткое время</a></h1>

    <div id="content">
        <p style="text-align:center;">
        </p>
        <br/>
        <br/>

        <h1>{% if page.title %} {{ page.title }} {% endif %}</h1>

        {{ content  }}
        
        <!-- -->
        <script type="text/javascript"><!--
        google_ad_client = "pub-5367447941543473";
        /* 728x90, создано 14.07.09 */
        google_ad_slot = "9772197244";
        google_ad_width = 728;
        google_ad_height = 90;
        //-->
        </script>
        <script type="text/javascript"
                src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
        <!-- -->
    </div>


    <h2 id="caption_navigation">Еще статьи о похудении</h2>
    <ul id="navigation">
          {% for post in site.posts %}
           
            <li>
            <a href="{{ post.url }}">
                {{ post.title }}
            </a>
            </li>

            {% endfor %}
    </ul>

    <br/>
    <!-- -->
    <script type="text/javascript"><!--
    google_ad_client = "pub-5367447941543473";
    /* 200x90, создано 14.07.09 */
    google_ad_slot = "9856076946";
    google_ad_width = 200;
    google_ad_height = 90;
    //-->
    </script>
    <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
    <!-- -->


</div>
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-9407056-1");
        pageTracker._trackPageview();
    } catch (err) {
    }</script>
</body>
</html>
